/*mobile-style*/

:root {
  /*Primary*/
  --bright-orange: #e38826;
  --Dark-cyan: #006970;
  --Very-dark-cyan: #004241;

  /*paragraphs*/
  --Transparent-white: #ffffffbf;

  /*background, heading, buttons*/
  --Very-light-gray: #f2f2f2;
}

body::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Very-light-gray);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20.4375rem;
  height: 82.875rem;
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
}

#sedans {
  background-color: var(--bright-orange);
  border-radius: 10px 10px 0px 0px;
}

#suv {
  background-color: var(--Dark-cyan);
}

#luxury {
  background-color: var(--Very-dark-cyan);
  border-radius: 0px 0px 10px 10px;
}

h1 {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--Very-light-gray);
  padding: 0rem 3.0625rem 1.5625rem;
}

p {
  padding: 0rem 3rem 1.5625rem;
  color: var(--Very-light-gray);
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  opacity: 0.75;
}

img {
  padding: 3rem 0rem 2.1875rem 3.0625rem;
}

button {
  margin: 0rem 3.0625rem 3rem;
  padding: 0.5rem 1.875rem;
  border-radius: 1.5625rem;

  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

#sedans button:hover {
  background-color: var(--bright-orange);
  color: var(--Very-light-gray);
  border: solid 0.125rem var(--Very-light-gray);
  cursor: pointer;
}

#suv button:hover {
  background-color: var(--Dark-cyan);
  color: var(--Very-light-gray);
  border: solid 0.125rem var(--Very-light-gray);
  cursor: pointer;
}

#luxury button:hover {
  background-color: var(--Very-dark-cyan);
  color: var(--Very-light-gray);
  border: solid 0.125rem var(--Very-light-gray);
  cursor: pointer;
}

#sedans button {
  color: var(--bright-orange);
  border: solid 0.125rem var(--bright-orange);
}

#suv button {
  color: var(--Dark-cyan);
  border: solid 0.125rem var(--Dark-cyan);
}

#luxury button {
  color: var(--Very-dark-cyan);
  border: solid 0.125rem var(--Very-dark-cyan);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
